@import "tailwindcss";

@utility bg-wave-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,0 C150,90 350,-40 500,40 C650,120 900,20 1200,60 L1200,120 L0,120 Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% 100%;
}

@utility bg-wave-pattern-dots {
  background-color: #f8fafc;
  background-image: radial-gradient(#e2e8f0 2.5px, transparent 2.5px);
  background-size: 18px 18px;
}

@utility link {
  @apply text-white block p-5 font-bold hover:text-yellow-300;
}